<!DOCTYPE html>
<html>

<%= render 'books/list', user: @user, book: @user %>
<div class="col-sm-1"></div>

<div class="col-sm-8">

    <h3>Users</h3>
    <table class="table">
  <thead>
    <tr>
      <th style="width: 35%" scope="col">Image</th>
      <th style="width: 40%"scope="col">name</div></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td> <%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= user.name %></td>
      <td><%= link_to "show", user_path(user.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</html>






