<h2>Editing Book</h2>
<%= form_with model: @book do |f| %>
  <label for="inputName">Title</label>
  <div><%= f.text_field :bookname, autofocus: true, id:"BookName", placeholder:"本の名前"%>
  
  <div><label for="inputIntroduction">Introduction</label>
  <div><%= f.text_field :caption, autofocus: true, id:"caption",placeholder:"説明"%>
  <div><%= f.submit "Update Book" %></div>
<% end %>
