<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="css/bootstrap.min.css">
     	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body> 
  <!-- cass="d-flex flex-column vh-100"-->
   <section class="container">
      <div class="mt-0"></div>
    <h1 class = "text-center">Welcome to
    <i class="fa fa-solid fa-book"></i>
    <strong>Bookers!!</strong>
      </div>
    </section>
   </body>
</html>