<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="css/bootstrap.min.css">
     	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
  <!-- cass="d-flex flex-column vh-100"-->
   <section class="container">
     <div class="row">
    <h1 class = "px-3 mx-auto">Welcome to
    <i class="fa fa-solid fa-book"></i>
    <strong>Bookers!!</strong></h1>
      </div>
    </section>
   </body>
</html>