
<html>

  <main>

    <section class="container">
      <div class="mt-0"></div>
       <div class= "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6" >
          <link rel="stylesheet" href="css/bootstrap.min.css">
          <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

     <div class = "row">

    <h1>welcome to
    <i class="fa fa-solid fa-book"></i>
    <strong>Bookers</strong> !!</h1>
    　<div><p>In <i class="fa fa-solid fa-book"></i> Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
     </div>

      <div class="d-grid gap-2 col-10 mx-auto">
        <div class="row"><%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-block class= mb-3 " %></div>
      <div></div>
        <div class="row"><%= link_to 'Sign up', new_user_registration_path , class: "btn btn-success btn-block" %></div>
      </div>

      </div>

     </div>
     </div>
    </section>
    </main>
</html>
